<div class="col-12">
  <h1 class="text-center">About us</h1>
  <div class="col-12">
    <h3>Who we are? </h3>

    <p>

        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam assumenda nihil incidunt officia sequi voluptates magnam!
        Possimus ipsum, quaerat, ratione fugiat consequuntur illo repellat consequatur assumenda, atque magni deleniti eius.
       Dolorum, maxime excepturi, voluptatem hic aliquam consequatur dolore iusto perspiciatis perferendis iure, a rem nobis!
        Porro optio voluptate nulla veniam commodi sed error ex. Suscipit quam consectetur amet quod facere?
       Inventore dolorum praesentium optio blanditiis voluptates, aperiam officiis voluptate minima exercitationem distinctio 
       corporis natus nam enim labore consequatur voluptatum suscipit dolore aspernatur, quibusdam neque ut beatae nihil ullam 
       nostrum. Iste?
   
    </p>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam assumenda nihil incidunt officia sequi voluptates magnam!
        Possimus ipsum, quaerat, ratione fugiat consequuntur illo repellat consequatur assumenda, atque magni deleniti eius.
       Dolorum, maxime excepturi, voluptatem hic aliquam consequatur dolore iusto perspiciatis perferendis iure, a rem nobis!
        Porro optio voluptate nulla veniam commodi sed error ex. Suscipit quam consectetur amet quod facere?
       Inventore dolorum praesentium optio blanditiis voluptates, aperiam officiis voluptate minima exercitationem distinctio 
       corporis natus nam enim labore consequatur voluptatum suscipit dolore aspernatur, quibusdam neque ut beatae nihil ullam 
       nostrum. Iste?  
    </p>
    
  </div>
</div>