<div class="col-12 body">
  <h1 class="text-center">About</h1>
  <div class="col-12">
    <h3 class="text-center">What is this? </h3>

    <p>
     This is a short Angular 6 app developend by Nkokhelo Tembe. 
     The main reason for this app was to test new functionalites that came along with angular .
    </p>
      <h5>Which are the following</h5>
     <ul>
       <li>Observables</li>
       <li>Http requests Get or set</li>
       <li>Components</li>
       <li>Interfaces and Classes</li>
       <li>Polyfill for IE</li>
     </ul>

    
  </div>
</div>