

    <div class="col-md-12">
      <div class="col-md-4" style="display:inline-block;" *ngFor="let n of newsList" >
        <div *ngIf="n.urlToImage != null || n.description != null">
          <div class="card holder">
            <img class="card-img-top" src="{{n.urlToImage}}" alt="">
            <div class="card-body">
              <a href="{{n.url}}"><h5 class="card-title">{{n.title}}</h5></a>
              <p class="card-text">{{n.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>