img
{
  min-height: 200px;
  max-height: 200px;
}

.holder
{
  min-height: 500px;
  max-height: 500px;
  margin-bottom: 30px;
}

.date
{
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 14px;
  color: #555;
}